html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer .powered {
  float: right;
}

.footer .copyright {
  float: left;
}

@media (max-width: 767px) {
  .footer .powered {
    float: left;
  }
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: "\e151";
}

a.desc:after {
  content: "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view td {
  white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}

/* Временные стили */
.remove-phone-btn{
  color:#C46964;
}

.add-phone-btn{
  color:#74A074;
}

.fileinput-button{
 margin-bottom: 10px;
}

.fileupload-progress .progress{
  height: 5px;
}

#sub-btn-search {
  min-width: 160px;
}

#add-ads-main-red {
  border-bottom-width: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-size: 14px;
}

#sec-lk-enter {
  float: right;
  font-size: smaller;
}

.fa {
  margin-right: 7px;
  margin-left: 7px;
}

.dropdown-toggle .fa {
  margin-left: 0 !important;
}

.navbar-inverse .navbar-nav .fa{
  margin-left: 0;
}

.lime {
  color: limegreen;
}

#details .label {
  font-size: 120%;
}

hr {
  border-top: 1px solid #EEE;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*
OpenCart
 */
.ad-thumb {
  /*border: 1px solid #ddd;*/
  border-bottom: 1px solid #EEE;
  margin-bottom: 20px;
  overflow: auto;
}

.ad-list .ad-thumb .image {
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 767px) {
  .ad-list .ad-thumb .image {
    float: left;
    padding: 0 15px;
    margin-bottom: 0;
  }
}

.ad-list .ad-thumb .image .blank-img {
  padding: 0 15px;
  width: 140px;
  height: 120px;
  border: 1px solid #eee;
  overflow: hidden;
}

li.blank-img {
  text-align: center;
}

li.blank-img .fa {
  display: inline-block;
  line-height: 120px;
  color: #D4D4D4;
  text-align: center;
  vertical-align: bottom;
}

.ad-list .ad-thumb .image img{
  width: 140px;
  height: 120px;
}

@media (max-width: 767px) {
  .ad-list .ad-thumb .image .blank-img {
    display: none;
  }
}

.ad-thumb .image .fa, #big-picture .fa {
  display: inline-block;
  line-height: 120px;
  color: #D4D4D4;
  text-align: center;
  vertical-align: bottom;
}

.ad-thumb .image a {
  display: block;
}

.ad-thumb .image img {
  margin-left: auto;
  margin-right: auto;
}

.ad-list .ad-thumb .caption {
  margin-left: 160px;
}

.ad-thumb .caption {
  padding: 0 20px;
  min-height: 100px;
}

@media (max-width: 767px) {
  .ad-list .ad-thumb .caption {
    min-height: 0;
    margin-left: 0;
    padding: 0 10px;
  }
}

.ad-thumb h4 {
  font-weight: bold;
}

.ad-thumb .price {
  font-size: 180%;
  margin-top: 10px;
  margin-bottom: 0;
  color: #a94442;
}

.ad-thumb .price .fa{
  font-size: 70%;
}

@media (max-width: 767px) {
  .ad-thumb .price {
    font-size: 120%;
    margin: 10px 7px;
    color: #a94442;
  }
}

.ad-thumb .price-new {
  font-weight: 600;
}

.ad-thumb .price-old {
  color: #999;
  text-decoration: line-through;
  margin-left: 10px;
}

.ad-thumb .price-tax {
  color: #999;
  font-size: 12px;
  display: block;
}

.ad-list .ad-thumb .button-group {
  border-left: 1px solid #ddd;
}

.ad-thumb .button-group {
  border-top: 1px solid #ddd;
  background-color: #eee;
  overflow: auto;
}

.ad-thumb .button-group button {
  width: 60%;
  border: none;
  display: inline-block;
  float: left;
  background-color: #eee;
  color: #888;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
  display: inline;
}

.ad-thumb .button-group button + button {
  width: 20%;
  border-left: 1px solid #ddd;
}

.ad-thumb .button-group button:hover {
  color: #444;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

.ad-thumb .data-extra {
  color: #aaa;
}

@media (max-width: 767px) {
  .ad-thumb .data-extra {
    font-size: small;
  }
}

.mb10 {
  margin-bottom: 10px;
}

.ad-thumb .data-extra:hover {
  color: #666;
}

.ad-thumb .data-extra .badge {
  background-color: #ccc;
}

@media (max-width: 767px) {
  .ad-thumb .data-extra .badge {
    font-size: 10px;
    color: #333;
    background-color: #fff;
    border: 1px solid #999;
  }
}

.ad-thumb .data-extra:hover .badge {
  background-color: #8c8c8c;
}

.ad-list h5 {
  font-size: 16px;
  margin: 0 0 5px;
}

#input-limit {
  width: 70px;
}

.navbar-inverse .btn-link {
  color: #FFF;
}

.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
  color: #FFF;
  text-decoration: none;
}

/* Обязательные поля формы */
div.required label.control-label:after {
  content: " *";
  color: red;
}

#form-phones-create .fa{
  color: #666;
}

/* временный Костыль */
.panel{
  border-radius: 2px !important;
}

/* Images blueimp */
#file-upload .panel {
  /*float: left;*/
  /*margin-right: 15px;*/
  /*margin-bottom: 15px;*/
  padding: 6px;
  text-align: center;
}

#file-upload .list-unstyled {
  margin-bottom: 0 !important;
}

#file-upload .preview {
  max-width: 151px;
  height: 113px;
}

#file-upload .preview img{
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

#file-upload .buttons {
  text-align: right;
  margin-top: 10px;
}

#dropzone {
  background: #fff;
  border: 4px solid #eee;
  height: 60px;
  /*line-height: 60px;*/
  text-align: center;
  font-weight: bold;
  /*vertical-align: middle;*/
  color: #ccc;
}

#dropzone.in {
  height: 200px;
  line-height: 172px;
  font-size: larger;
}

#dropzone.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1;
}

